.header {
    display: grid;
    grid-template-columns: 1fr 70px 70px 70px;
    background-color: rgb(165, 216, 199);
    height: 30px;
    padding-top: 10px;
    border-radius: 30px;
}

input {
    color: black;
    width: 60px;
    height: 20px;
    border-bottom: 2px;
    border-radius: 20px;
    border-width: 2px;
    border-style: double;
    border-color: cadetblue;
    cursor: pointer;
    transition: 0.2s;
}

input:hover {
    background-color: rgb(109, 105, 105);
    color: rgb(255, 255, 255);
    width: 60px;
    height: 20px;
    border-bottom: 2px;
    border-radius: 20px;
    border-width: 2px;
    border-style: double;
    border-color: cadetblue;
    cursor: pointer;
}

.home {
    padding-left: 3%;
}

.profile {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 65px;
    column-gap: 10px;
}

.profile img {
    width: 100%;
    border-radius: 100%;

}

.pt-mono-regula {
    background-color: rgb(165, 216, 199);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "PT Mono", monospace;
    font-size: 12px;
}


.content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-end: 20px;
}

.content img {
    width: 19%;
}

.languages {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.languages div {
    background-color: rgb(165, 216, 199);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border-width: 100px;
    border-color: black;
}

.language-icon-div p {
    display: inline;
    vertical-align: top;
    padding-left: 10px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.languages p {
    font-size: 20px;
}

#social-media {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-left: 30px;
}

.accounts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 50px;
    background-color: rgb(165, 216, 199);
    margin-left: 5px;
    margin-right: 5px;
}

.accounts img {
    width: 45px;
}

.accounts img:hover {
    width: 50px;
}

#contacts {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-left: 30px;
}
.contacts {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(165, 216, 199);
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.contacts div {
    vertical-align: top;
    padding-left: 20px;
}

.contacts p {
    display: inline;
    vertical-align: 15px;
}


.contacts img {
    width: 35px;
    transition: width 0.2s;
}

.contacts img:hover {
    width: 12%;
}

.footer {
    border-radius: 5px;
    height: 18px;
    margin-bottom: 10px;
}
